.fond {
    background-color: rgba(128, 128, 128, 0.468);
}

.text {
    line-height: 1.8;
}

.progress {
    width: 90%;
}

.progress-box {
    width: 50%;
}

.progress-box .progress {
    height: 15px;
}

.card {
    border: none;
}

.active {
    background-color: #f1f1f1;
}

.list-group-item {
    cursor: pointer;
}

.box {
    align-items: center;
    justify-content: space-around;
    gap: 5px;
}

.box span[type="button"] {
    padding-bottom: 3px;
}

@media screen and (max-width: 776px) {
    .row-1 {
        flex-direction: column;
        align-items: center;
    }

    .col {
        width: 100%;
    }

    .col-form {
        width: 100%;
    }

    .col-special {
        width: 100%;
        padding: 0;
    }
}