@media only screen and (max-width: 1200px) {
    .container, .container-header {
        max-width: 992px;
        width: 100%;
    }
}



@media only screen and (max-width: 992px) {
    .container, .container-header {
        max-width: 768px;
        width: 100%;
    }
}



@media only screen and (max-width: 768px) {
    :is(.container, .container-header) {
        max-width: 556px;
        width: 100%;
    }
    
}



@media only screen and (max-width: 556px) {
    .container, .container-header {
        max-width: 100%;
        width: 100%;
    }
    
    .form {
        width: 100%;
    }
}



