* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.error-game {
    color: red;
    display: none;
}

.flex-r {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.container-imgs {
    margin: auto;
    background-color: #999;
    width: 300px;
    height: 300px;
    border: 2px solid black;
}

.container-imgs .box-img {
    width: 50%;
    height: 50%;
    text-align: center;    
}

.container-imgs img {
    width: 100%;

}